body{
    background-color: gray;
    font-family: 'Roboto', sans-serif;

}
/*Post wrapper*/
.post{
    margin: 5px;
    border: 7px solid purple/*erase this when finished*/;
    display: flexbox;
    position: relative;
    background-color: white;
}
/*Post Head*/
.post-head{
    border: 3px solid aqua/*erase this when finished*/;
    display:flex;
    position: relative;
    width: auto;
}
.html5-icon{
    border: 1px solid red/*erase this when finished*/;
    position: relative;
    padding-inline: 3%;
    display: flexbox;
    padding-top: 10%;
}
.post-title{
    border: 1px solid red/*erase this when finished*/;
    display: flexbox;
    position: relative;
    padding-inline: 15%;
}
.dotsmenu{
    border: 1px solid red/*erase this when finished*/;
    position: relative;
    padding-inline: 5%;
    display: flexbox;
    padding-top: 10%;
    
}
/*Post Image*/
.post-img{
    border: 3px solid yellowgreen/*erase this when finished*/;
    height: 50vh;
    width: fit-content;
    display: flex;
    position: relative;
}
/*Post Body*/
.post-body{
    border: 1px solid blue/*erase this when finished*/;
    position: relative;
}
.icons{
    border: 1px solid red/*erase this when finished*/;
    padding: 2%;
}
.bookmark{
    display: inline;
    float: right;
}
.comments{
    /*border: 1px solid red/*erase this when finished;*/
    padding: 2%;
}