body{
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}
/*Post wrapper*/
.post{
    width: min-content;
    margin: 5px;
    display: flexbox;
    position: relative;
    background-color: white;
    
}
/*Post Head*/
.post-head{
    display:flex;
    position: relative;
    width: auto;
    justify-items:right;
    align-items: center;
}
.html5-icon{
    display: flexbox;
    position: relative;
    padding: 3%;
}
.post-title{
    display: flexbox;
    position: relative;
    padding: 1%;
    padding-right: 27%;
    text-align: justify;
}
.dotsmenu{
    display: flexbox;
    position: relative;
    padding: 1%;
    padding-left: 49%;
}
/*Post Image*/
.post-img{
    height: 50vh;
    width: fit-content;
    display: flex;
    position: relative;
}
/*Post Body*/
.post-body{
    position: relative;
}
.icons{
    padding: 2%;
}
.iconsSpace{
    padding-inline: 0.5%;
}
.bookmark{
    display: inline;
    float: right;
    padding-right: 2%;
}
.comments{
    padding: 2%;
}